@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;700&display=swap');

:root {
  --delay-first: 0.2s;
  --delay-second: 2s;
  --delay-third: 3.2s;
  --anim-circle-length: 0.2s;
  --anim-split-length: 2s;
  --anim-name-length: 1.5s;
  --main-color: #28527a;
  --background-color: #FFFAF0;
  --accent-color: #59c9a6;
  --accent-color-dark: #37A985;
  --accent-color-2: #D86327;
  --text-color: #111;
  --white-text: #FFFAF0;
}

* {
  margin: 0px;
  padding: 0px;
  font-family: 'Montserrat', sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--background-color);
}

/* splash screen styles */
#letters-grid,
#name-grid {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 0px;
  position: absolute;
  margin: auto;
  width: 100%;
  top: 30vh;
}

#name-grid {
  position: absolute;
  text-align: left;
  z-index: 1;
  grid-template-rows: 150px 10px 100px;
  width: 250px;
  left: 0;
  right: 0;
  margin: auto;
  padding-left: 40px;
}

.name-text {
  user-select: none;
  align-self: end;
  opacity: 0;
  font-size: 4em;
  font-weight: 700;
  padding: 0;
  color: var(--text-color);
}

.name-text.bottom {
  padding-left: 45px;
}


/* creating circles for animation/logo */
.circle-container {
  width: 100px;
  height: 100px;
  margin: auto;
  position: relative;
}

.rectangle-container {
  width: 10px;
  height: 200px;
  margin: auto;
  position: relative;
}

.hold {
  position: absolute;
  width: 100%;
  height: 100%;
  clip: rect(0px, 100px, 100px, 50px);
  border-radius: 100%;
  background-color: var(--background-color);
}

.fill {
  background-color: var(--main-color);
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 100%;
  clip: rect(0px, 50px, 100px, 0px);
}

.fill-rectangle {
  background-color: var(--main-color);
  position: absolute;
  width: 100%;
  height: 100%;
}


/* animations */
.left .fill {
  z-index: 1;
  -webkit-animation: left-circle var(--anim-circle-length) linear;
  -moz-animation: left-circle var(--anim-circle-length) linear;
  animation: left-circle var(--anim-circle-length) linear both;
}

@keyframes left-circle {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(180deg);
  }
}

@-webkit-keyframes left-circle {
  0% {
    -webkit-transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(180deg);
  }
}

.right {
  z-index: 3;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  transform: rotate(180deg);
}

.right .fill {
  z-index: 3;
  -webkit-animation: right-circle var(--anim-circle-length) linear;
  -moz-animation: right-circle var(--anim-circle-length) linear;
  animation: right-circle var(--anim-circle-length) linear both, color-change var(--anim-split-length) ease both;
  -webkit-animation-delay: var(--delay-first);
  -moz-animation-delay: var(--delay-first);
  animation-delay: var(--delay-first), var(--delay-second);
}

@keyframes right-circle {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(180deg);
  }
}

@-webkit-keyframes right-circle {
  0% {
    -webkit-transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(180deg);
  }
}

@keyframes color-change {
  50% {
    background-color: var(--accent-color);
  }

  100% {
    background-color: var(--accent-color);
  }
}

#letters-grid {
  animation: bounce 1s;
  animation-delay: 0.2s;
}

.circle-container.top {
  -webkit-animation: top-split var(--anim-split-length) ease;
  -moz-animation: top-split var(--anim-split-length) ease;
  animation: top-split var(--anim-split-length) ease both;
  -webkit-animation-delay: var(--delay-second);
  -moz-animation-delay: var(--delay-second);
  animation-delay: var(--delay-second);
  top: 100px;
}

@keyframes top-split {
  0% {
    transform: translate(0px, 0px);
  }

  50% {
    transform: translate(0px, -50px);
  }

  100% {
    transform: translate(-130px, -50px);
  }
}

.circle-container.bottom {
  top: -100px;
  -webkit-animation: bottom-split var(--anim-split-length) ease;
  -moz-animation: bottom-split var(--anim-split-length) ease;
  animation: bottom-split var(--anim-split-length) ease both;
  -webkit-animation-delay: var(--delay-second);
  -moz-animation-delay: var(--delay-second);
  animation-delay: var(--delay-second);
}

@keyframes bottom-split {
  0% {
    transform: translate(0px, 0px);
  }

  50% {
    transform: translate(0px, -50px);
  }

  100% {
    transform: translate(-120px, -50px);
  }
}

.rectangle-container {
  top: -100px;
  opacity: 0;
  -webkit-animation: rectangle-split var(--anim-split-length) ease;
  -moz-animation: rectangle-split var(--anim-split-length) ease;
  animation: rectangle-split var(--anim-split-length) ease both;
  -webkit-animation-delay: var(--delay-second);
  -moz-animation-delay: var(--delay-second);
  animation-delay: var(--delay-second);
}

@keyframes rectangle-split {
  0% {
    transform: translate(0px, 100px);
    opacity: 0;
    height: 100px;
  }

  1% {
    opacity: 1;
  }

  50% {
    transform: translate(0px, 50px);
    opacity: 1;
    height: 200px;
  }

  100% {
    transform: translate(-125px, 50px);
    opacity: 1;
    height: 200px;
  }
}

.name-text,
nav {
  -webkit-animation: fadeInDown var(--anim-name-length) both;
  -moz-animation: fadeInDown var(--anim-name-length) both;
  animation: fadeInDown var(--anim-name-length) both;
  -webkit-animation-delay: var(--delay-third);
  -moz-animation-delay: var(--delay-third);
  animation-delay: var(--delay-third);
}


/* nav styling */
nav {
  display: flex;
  flex-flow: row wrap;
  /* justify-content: space-evenly; */
  /* height: 10vh; */
  text-align: left;
  margin-top: 40px;
  margin-left: max(10vw, 30px);
  font-size: 2em;
  font-weight: 400;
  gap: 10px 30px;
}

nav a {
  text-decoration: none;
  color: #28527a;
  background-size: 20px 2px, 100% 2px, 0 2px;
  background-position: calc(20px * -1) 100%, 100% 100%, 0 100%;
  background-repeat: no-repeat;
  transition: background-size 1s ease, background-position 1s ease;
  z-index: 3;
}

#spacer {
  height: 10vh;
  width: 100%;
  position: absolute;
  z-index: 1;
}


/* waypoint alterations to nav */
.side-nav {
  flex-flow: column nowrap;
  position: fixed;
  top: 40vh;
  text-align: left;
  align-items: flex-start;
  margin: auto;
  margin-left: max(10vw, 30px);
  animation: fadeInDown var(--anim-name-length) backwards, bounceInDown 0.5s;
  animation-delay: 0s, 0s;
}

#project-links {
  display: flex;
  flex-flow: column;
  align-items: flex-start;
  padding-left: 30px;
  animation: bounceInLeft 0.5s both;
}

#project-links a {
  color: var(--text-color);
  font-size: 0.7em;
  padding-top: 10px;
}


/* nav underline */
.active-nav,
nav a:hover {
  background-image: linear-gradient(var(--main-color), var(--main-color)),
    linear-gradient(var(--accent-color-2), var(--accent-color-2)),
    linear-gradient(var(--accent-color), var(--accent-color));
  background-size: 20px 2px, 0 2px, 100% 2px;
  background-position: calc(100% + 20px) 100%, 100% 100%, 0 100%;
  width: auto;
}


/* style and animate logo */
.logo {
  width: 50px;
  position: fixed;
  margin-top: 40px;
  margin-left: max(10vw, 30px);
  opacity: 0;
}

.logo-show {
  opacity: 1;
  animation: bounceInLeft 0.5s;
}

.logo-hide {
  animation: bounceOutLeft 0.5s both;
}


/* main content */
.text-section {
  margin: auto 30vw;
  position: relative;
  top: 100vh;
  min-height: auto;
  width: min(800px, 50%);
  padding-top: 20vh;
  font-size: 20px;
  color: var(--text-color);
}

.text-section h2 {
  padding-bottom: 30px;
}

.subheading {
  font-weight: 700;
}

.text-section p {
  padding-bottom: 30px;
  line-height: 2em;
}

.text-section p a {
  text-decoration: none;
  color: var(--accent-color-2);
  position: relative;
  font-weight: 700;
}

.last {
  padding-bottom: none;
}


/* about section */
#random-output-lead {
  padding-bottom: 10px;
  font-weight: 400;
}

#random-output {
  font-size: 1.5em;
  font-weight: 700;
  color: var(--main-color);
  margin-top: -15px;
}

#random-output:hover {
  color: var(--accent-color-dark);
  animation: bounce 0.5s;
}


/* work section */
.card {
  height: 30vh;
  width: 30vh;
  border-radius: 20px;
  background-color: var(--main-color);
  display: flex;
  margin: 50px auto;
  color: var(--white-text);
  transition: all 0.5s;
  cursor: pointer;
}

.project-logos  {
  display: block;
  margin: auto;
  align-self: center;
  height: auto;
  max-width: 75%;
}

#wvum-logo {
  max-width: 50%;
}

.project-logos:hover, .contact-icons img:hover {
  animation: pulse 0.5s infinite both;
}

.active-card {
  position: fixed;
  margin: 0;
  padding: 0;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10;
  height: 100vh;
  width: 100vw;
  border-radius: 0;
  overflow: scroll;
  overflow-x: hidden;
}

.noscroll {
  overflow: hidden;
}

/* active card stylings */
.projects {
  width: 100%;
  margin: 10vh 30vw;
  overflow: visible;
}

.projects h3 {
  padding-bottom: 20px;
  padding-top: 10px;
}

.projects ul, .projects ol {
  padding-left: 20px;
  line-height: 2em;
  padding-bottom: 30px;
}

.projects a {
  color: var(--accent-color-2);
  text-decoration: none;
  font-weight: 700;
}

#wvum-dj-mockup, #wvum-sports-mockup, .projects img {
  width: min(1000px, 50vw);
  padding-bottom: 30px;
}

.mockup {
  position: relative;
  /* margin-bottom: 10vh; */
  width: 10px;
}

.mockup img {
  width: 384px;
  height: 696px;
  position: absolute;
  top: 0;
  left: 0;
}

.mockup iframe {
  position: absolute;
  top: 11px;
  left: 10px;
}

/* contact section */
#contact p a {
  color: var(--accent-color-2);
  padding-bottom: 100px;
}

.contact-icons {
  display: flex;
  justify-content: space-around;
}

.contact-icons img {
  height: 100px;
}

#contact {
  padding-bottom: 20vh;
}

/* alternate underline animations
.text-section p a:hover{
  color: var(--accent-color-2);
}

.text-section > p > a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--accent-color);
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out 0s;
}

.text-section p a:hover::before {
  visibility: visible;
  transform: scaleX(1);
} */