body {
    background-color: antiquewhite;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: auto;
    row-gap: 30px;
    width: 100%;
}

.show {
    display: flex;
    align-items: center;
    min-width: 0;
    clip-path: circle(50% at 50% 50%);
    height: 200px;
    width: 200px;
    vertical-align: middle;
    background-color: red;
    transition: all 0.5s ease;
    position: relative;
    margin: auto;
}

.show p {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    margin: 20px;
}

.show:hover {
    height: 400px;
    width: 400px;
    background: blue;
    color: white;
}

.show:hover > p {
    white-space: pre-wrap;
    margin: auto;
}