@import url('https://fonts.googleapis.com/css2?family=Pangolin&display=swap');

body {
    background-color: #540D6E;
    color: #F3FCF0;
    font-family: 'Pangolin', cursive;
}

header {
    text-align: center;
    margin: 30px;
    font-size: 2em;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 400px;
    row-gap: 30px;
    max-width: 1000px;
    margin: auto;
    align-items: center;
}

.show {
    background-color: #EE4266;
    align-self: center;
    justify-self: center;
    display: flex;
    align-items: center;
    vertical-align: middle;
    min-width: 0;
    clip-path: circle(50% at 50% 50%);
    height: 500px;
    width: 500px;
    transform: scale(0.5);
    transition: all 0.5s ease;
    position: relative;
    margin: auto;
    font-size: 3em;
    border-radius: 100%;
}

.show p {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    margin: 20px;
}

.show:hover {
    background: #FFD23F;
    color: #1F271B;
    transform: scale(1);
    font-size: 1.2em;
    line-height: 40px;
}

.show:hover > p {
    white-space: pre-wrap;
    margin: auto;
}

.show:nth-of-type(2n) {
    top: 250px;
}

footer {
    margin: 400px auto 50px auto;
    text-align: center;
    position: relative;
  }
